$body-width: 335px;
$body-margin: 96px auto 0 auto;

$red: #FF0500;
$orange: #FF7400;
$green: #2B823A;

$night-mode-color: #DDDDDD;
$night-mode-background-color: #333333;



$iphone-header-height: 23px;
$iphone-color: #FFFFFF;
$iphone-background-color: #000000;


$tama-status-height: 40px;
$tama-status-border: 1px solid #DDDDDD;
$tama-status-categorie-padding: 0 8px;

$tama-main-content-margin: 0 auto;

$tama-actions-fade: opacity 2s;


$tama-actions-background-color: #FFFFFF;
$tama-actions-padding: 0 5px;

$tama-action-color: #333333;
$tama-action-border-radius: 5px;
$tama-action-border: 1px solid #DDDDDD;
$tama-action-padding: 5px;
$tama-action-active-color: #FFFFFF;
$tama-action-active-background-color: #333333;
$tama-action-margin-bottom: 3px;
$tama-action-icon-padding-right: 10px;

$tama-action-danger-color: #FFFFFF;
$tama-action-danger-background-color: #DF382C;

$tama-help-background-color: #FFFFFF;

$tama-footer-border: 1px solid #DDDDDD;