<div class="container tama-main-content">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-12 col-centered">
			<hr />
			<div class="tama-status">
				<div>
					<span><i class="fa fa-user"></i></span>
					<span ng-bind="ctl.tamaFact.tamagotchi.getName()"></span>
				</div>

				<div>
					<span ng-class="ctl.healthClassName"><i class="fa fa-heart"></i></span>
					<span ng-bind="ctl.tamaFact.tamagotchi.getHealth()"></span>
				</div>

				<div>
					<span ng-class="ctl.happinessClassName">
						<i ng-show="ctl.happinessIcon == 0" class="fa fa-smile-o"></i>
						<i ng-show="ctl.happinessIcon == 1" class="fa fa-frown-o"></i>
					</span>
					<span ng-bind="ctl.tamaFact.tamagotchi.getHappiness()"></span>
				</div>

				<div>
					<span ng-class="ctl.cleannessClassName"><i class="fa fa-yelp"></i></span>
					<span ng-bind="ctl.tamaFact.tamagotchi.getCleanness()"></span>
				</div>

				<div>
					<span><i class="fa fa-eur"></i></span>
					<span ng-bind="ctl.tamaFact.tamagotchi.getMoney()"></span>
				</div>
				<div>
					<span><i class="fa fa-users"></i></span>
					<span ng-bind="ctl.tamaFact.tamagotchi.getPromoteLevel()"></span>
				</div>
			</div>
		</div>
	</div>
</div>

