<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>iGotchi</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/united/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="dist/main.css">

</head>
<body ng-app="tamaApp">

		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12 col-centered">
						<h1>iGotchi</h1>
					</div>
				</div>
			</div>
		</section>

	<div ng-controller="HomeController as homeCtl">
		<section ng-show="homeCtl.tamaFact.tamagotchi.getHealth() == 0">
			<div class="container" style="width: 400px; height: 400px;">
				<div class="row main-content">
					<div class="col-xs-12 col-md-12 col-lg-12 col-centered">
						<p>You have lost! Your iGotchi {{ homeCtl.tamaFact.tamagotchi.getName() }} is dead...</p>

						<button ng-click="homeCtl.restartGame()">Back to life</button>
					</div>
				</div>
			</div>
		</section>


		<section ng-show="homeCtl.tamaFact.tamagotchi.getHealth() > 0">
			<div class="container main-content">
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12 col-centered">
						<div class="tama-header">
							<div>
								<span class="glyphicon glyphicon-user"></span>
								<span ng-bind="homeCtl.tamaFact.tamagotchi.getName()"></span>
							</div>

							<div>
								<span class="glyphicon glyphicon-heart"></span>
								<span ng-bind="homeCtl.tamaFact.tamagotchi.getHealth()"></span>
							</div>
							<div>
								<span>Cleanness</span>
								<span ng-bind="homeCtl.tamaFact.tamagotchi.getCleanness()"></span>
							</div>
							<div>
								<span class="glyphicon glyphicon-euro"></span>
								<span ng-bind="homeCtl.tamaFact.tamagotchi.getMoney()"></span>
							</div>
							<div>
								<span>Promote: </span>
								<span ng-bind="homeCtl.tamaFact.tamagotchi.getPromoteLevel()"></span>
							</div>



						</div>
					</div>
				</div>

				<hr />

				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12 col-centered">
						<div class="tama-main">
							<button class="btn btn-lg btn-success" ng-click="homeCtl.feed()">Feed</button>
							<button class="btn btn-lg btn-success" ng-click="homeCtl.clean()">Wash</button>
							<button class="btn btn-lg btn-success" ng-click="homeCtl.work()">Work</button>


							<button class="btn btn-lg btn-danger" ng-click="homeCtl.restartGame()">Restart</button>

						</div>
					</div>
				</div>

				<hr />

				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12 col-centered">
						<div class="tama-footer">
							<span ng-bind="homeCtl.notification"></span>
						</div>
					</div>
				</div>


			</div>
		</section>
		
		
		
	
	</div>

	<footer>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="dist/app.js" type="text/javascript"></script>
	</footer>
	
</body>
</html>