@import 'partials/_variables';
@import 'partials/_animations';

body {
	width: $body-width;
	margin: $body-margin;
	background-image: url('images/iphone.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.col-centered {
	text-align: center;
}

.row {
	margin: 0;

	margin-right: 0;
	margin-left: 0;

	& > [class^="col-"],
	& > [class*=" col-"] {
		padding-left: 0;
		padding-right: 0;
	}
}


hr {
	margin: 6px 0 0 0;
}

.iphone-header {
	height: $iphone-header-height;
	margin-top: $iphone-header-margin-top;
	color: $iphone-color;
	background-color: $iphone-background-color;

	.iphone-signal {
		position: absolute;
		top: 0;
		left: 4px;
	}

	.iphone-battery {
		position: absolute;
		top: 0;
		left: 313px;
	}
}

.tama-header {
	h1 {
		margin: 0;
	}
}

.tama-loose {
	margin-top: 100px;
	height: 340px;
}


.tama-core {
	position: relative;
	height: 525px;
}

.tama-adv {
	position: absolute;
	top: 526px;
	left: 0;
	width: 335px;
	height: 45px;
	background-image: url('images/advertisement.png');
	background-position: 0 0;
	background-repeat: no-repeat;
}

.tama-status {
	div {
		display: inline-block;
		border-right: $tama-status-border;
		padding: $tama-status-categorie-padding;
		height: $tama-status-height;

		&:last-child {
			border-right: none;
		}

		span {
			display: block;

			&:first-child {
				vertical-align: top;
			}
		}
	}

}

.tama-main-content {
	width: 333px;
	position: relative;
	padding: 0;
}

.tama-action-bar {
	position: absolute;
	width: 100%;
	top: 235px;
	left: 50%;
	z-index: 100;

	ul {
		padding: $tama-actions-padding;
		list-style-type: none;

		li {
			a {
				display: block;
				padding: $tama-action-padding;
				border: $tama-action-border;
				border-radius: $tama-action-border-radius;
				margin-bottom: $tama-action-margin-bottom;
				background-color: $tama-actions-background-color;
				color: $tama-action-color;

				&:hover, &:active {
					color: $tama-action-active-color;
					background-color: $tama-action-active-background-color;
					border-color: $tama-action-active-background-color;
					text-decoration: none;
				}

				&.danger {
					color: $tama-action-danger-color;
					background-color: $tama-action-danger-background-color;
					border-color: $tama-action-danger-background-color;

					&:hover, &:active {
						color: $tama-action-danger-color;
						background-color: $tama-action-danger-background-color;
						border-color: $tama-action-danger-background-color;
					}
				}

				i.fa {
					padding-right: $tama-action-icon-padding-right;
				}
			}
		}
	}

	.tama-action-buttons {
		position: relative;
		left: -50%;

	}
}

.tama-notification-area {
	height: 51px;
}

.tama-help {
	z-index: 1000;
	background-color: $tama-help-background-color;
	position: absolute;
	top: 0;
	left: 0;
	
	p {
		padding: 0 5px;
	}

	i.fa {
		padding-right: $tama-action-icon-padding-right;
	}
}

/* Medium and large */
@media screen and (min-width: 700px) {


}